<% @page_title = "UserAuth | Signup" %>
<div class = "Sign_Form">
	<h2>Sign Up</h1>
	<%= form_for(:user, :url => {:controller => 'users', :action => create})
	do |f| %>
		<p><%= f.label :username %><br /> <%= f.text_field :username %></p>
		<p><%= f.label :email %><br /> <%= f.text_field :email %></p>
		<p><%= f.label :password %><br /> <%= f.password_field :password %></p>
		<p><%= f.label :password_confirmation %><br /> 
			<%= f.password_field :password_confirmation %></p>
		<%= f.submit :Signup %>
	<% end %>

	<% if @user.errors.any? %>
		<ul class="signup-errors">
			<% for error in @user.errors.full_messages %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
</div>